*{
    color: white;
    background-color: crimson;
   
}

.headtext{
    text-align: center;
    font-size: 72px;
    background-color: crimson;
    font-family: cursive;
    
}
#all-links-texts{
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link{
    font-size: 36px;
    color: white;
    

}